<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="Content/css/styles.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
    @RenderBody()
  </div>
  </body>
</html>
