@{
  Layout="Shared/_Layout.cshtml";
}

<div class="createContact">
  <div class="jumbotron">
    <h1>You created a new contact</h1>
  </div>

  <ul>
    <h2>@Model.GetName()</h2>
    <li>@Model.GetAddress()</li>
    <li>@Model.GetPhoneNumber()</li>
  </ul>

<h2><a href="/">Home</a></h2>
</div>
