@{
  Layout="Shared/_Layout.cshtml";
}

<div class="deleteContact">
  <div class="jumbotron">
    @if (@Model.Count == 0)
    {
      <h1>Address book cleared!</h1>
    }
    else
    {
      <h1>You deleted one of your contacts</h1>
    }
  </div>

  <h2><a href="/">Home</a></h2>
</div>
