@{
  Layout="Shared/_Layout.cshtml";
}

<div class="index">
  <div class="jumbotron">
    <h1>Address Book</h1>
  </div>

@foreach(var contact in Model)
{
  <li class="contactList"><a href="/contacts/@contact.GetId()">@contact.GetName()</a></li>
}


  <h2><a href="/contact/new">Add a new contact</a></h2>

  <form class="delete" action="/contacts/clear" method="post">
    <h2><button type="submit" name="clear-contacts"></button>Delete contacts</h2>
  </form>
</div>
