@{
  Layout="Shared/_Layout.cshtml";
}

<div class="index">
  <div class="jumbotron">
    <h1>Address Book</h1>
  </div>

  @if ( @Model.Count == 0)
  {
    <h1><strong><em>No contacts at the moment</em></strong></h1>
  }
  else
  {
    <h1><strong><em>Contacts</em></strong></h1>
  }

  <ol class="contactList">
    @foreach (var contact in Model)
    {
      <li><a href="/contacts/@contact.GetId()">@contact.GetName()</a></li>
    }
  </ol>


  <h2><a href="/contact/form">Add a new contact</a></h2>

  <form class="delete" action="/contacts/clear" method="post">
    <h2>Delete A Contact</h2>
    <label for="delete-contant-name">Enter the name of the contact you wish to delete</label>
    <input type="text" name="delete-contact-name" required>
    <button type="submit" name="delete-contact">Delete Contact</button>
  </form>
</div>
